<% if request.path_info == deliveries_path %>
	<%= form_for delivery, url: deliveries_path, method: :post do |f| %>
		<table>
			<tr>
				<td>郵便番号(ハイフンなし)</td>
				<td><%= f.text_field :postal_code %></td>
			</tr>
			<tr>
				<td>住所</td>
				<td><%= f.text_field :address %></td>
			</tr>
			<tr>
				<td>宛名</td>
				<td><%= f.text_field :name %></td>
			</tr>
		</table>

		<%= f.submit "登録する", class:"btn btn-success" %>
	<% end %>

<% else %>
	<%= form_for delivery, url: delivery_path, method: :patch do |f| %>
		<table>
			<tr>
				<td>郵便番号(ハイフンなし)</td>
				<td><%= f.text_field :postal_code %></td>
			</tr>
			<tr>
				<td>住所</td>
				<td><%= f.text_field :address %></td>
			</tr>
			<tr>
				<td>宛名</td>
				<td><%= f.text_field :name %></td>
			</tr>
		</table>

		<%= f.submit "編集する", class:"btn btn-primary" %>
	<% end %>
<% end %>
