<div class="row">
    <div class="col-5">
        <% @customers.each do |cutomer|%>
            <h3 class="admin_page_title"><%= customer.full_name %>さんの会員詳細/h3>
            <table>
                <tr>
                    <th>顧客ID</th>
                    <th><%= customer.id %> <%= customer.is_active %></th>
                </tr>
                <tr>
                    <th>氏名</th>
                    <th><%= customer.family_name %> <%= customer.first_name %></th>
                </tr>
                <tr>
                    <th>フチガナ</th>
                    <th><%= customer.kana_family_name %> <%= customer.kana_first_name %></th>
                </tr>
                <tr>
                    <th>郵便番号</th>
                    <th><%= customer.postal_code%></th>
                </tr>
                <tr>
                <th>住所</th>
                    <th><%= customer.address %></th>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <th><%= customer.phone_number %></th>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <th><%= customers.email_address %></th>
                </tr>
                <tr>
                <%= link_to  "編集する", edit_admins_customer_path(customer.id) %> 
                <%= link_to  "注文履歴一覧をみる", admins_orders_path %>
                </tr>
            </table>
        <% end %>
    </div>
</div>