<div class ="body">
	<div class= "container">
		<div class ="row">


			<div class = "col-md-12">
				<br>
				<h2>商品新規登録</h2>
			</div>

			<div class = "row">

				<div class ="col-md-6">
				  <%= form_for @sweet, :url=>{controller: "admins/sweets", action: "create"} do |f| %>
				  <br>
				  <br>
				  <%= f.attachment_field :image %>
				</div>
				<div class ="col-md-6">
				    <h4>商品名</h4>
				    <%= f.text_field :name, :size=>"30x10" %>
				    <h4>商品説明</h4>
				    <%= f.text_area :explanation, :size=>"50x10" %>
				    <h4>ジャンル</h4>
				    <%= f.select :genre_id,[['ケーキ',1],['クッキー',2],['プリン',3],['焼き菓子',4]], :size=>"60x10" %>
				    <h4>税抜価格</h4>
				    <%= f.number_field :non_taxed_price %>円
				    <h4>販売ステータス</h4>
				    <%= f.select :sell_status,[['販売中',true],['販売停止中',false]], :size=>"60x10" %>
				    <br>
				    <%= f.submit '新規投稿', class: "btn btn-primary" %>

				  <% end %>
				</div>



	</div>
</div>