<div class ="body">
	<div class= "container">
		<div class ="row">


				<h3>商品詳細</h3>
				<br>
				<br>

					<div class ="col-xs-4">
					  <div class="sweet_image">
						  <%= attachment_image_tag @sweet, :image, :fill, 200, 150, size: "240x160" %>
					  </div>
					</div>
					<div class ="col-xs-7">
						<table class="table ditail-table">
							<tr>
					            <th>商品名</th>
					             <td><%= @sweet.name %></td>
					        </tr>
					        <tr>
						         <th>商品説明</th>
						         <td><%= @sweet.explanation %></td>
						     </tr>
						     <tr>
						         <th>税抜価格</th>
						         <td><%= @sweet.non_taxed_price%>円</td>
						     </tr>
						     <tr>
						         <th>税込価格</th>
						         <td><%= "#{(@sweet.non_taxed_price * 1.10).round }" %>円</td>
						     </tr>

						     <tr>
						     	   <th>ジャンル</th>
						         <td><%= @sweet.genre.sweet_genre %></td>
						     <tr>
						         <th>販売ステータス</th>
						         <td><%= @sweet.sell_status ? "販売中" : "販売停止中" %></td>
						     </tr>
					     </table>
					     <p style="text-align:right;"><%= link_to "編集する", edit_admins_sweet_path(@sweet.id), class: "btn btn-primary" %></p>

					 </div>

		</div>
	</div>
</div>